<ion-header no-shadow>
  <ion-navbar color="primary">
    <ion-title>
      Fitpal Tech Test
    </ion-title>
  </ion-navbar>
</ion-header>
<ion-content class="background" padding>
  <ion-card class="center-content" padding>
    <ion-list>
      <ion-item-divider text-wrap class="titulo">
        Listado de Clientes
      </ion-item-divider>
      <button ion-item *ngFor="let item of clientes" (click)="irDetalleCliente(item)">
        <button ion-button item-start>
          <ion-icon name="contact"></ion-icon>
        </button>
        {{item.name}} {{item.last_name}}
        <button ion-button outline item-end>
          Detalle
        </button>
      </button>
    </ion-list>
  </ion-card>
</ion-content>