<ion-header no-shadow>
  <ion-navbar color="primary">
    <ion-title>
      Fitpal Tech Test
    </ion-title>
  </ion-navbar>
</ion-header>
<ion-content class="background" padding>
  <ion-card class="center-content" padding>
    <ion-grid>
      <ion-row text-center class="fila-titulo">
        <ion-col>
          Nombres
        </ion-col>
        <ion-col>
          Correo
        </ion-col>
      </ion-row>
      <ion-row text-center class="fila-descripcion">
        <ion-col>
          {{infoCliente.name}} {{infoCliente.last_name}}
        </ion-col>
        <ion-col>
          {{infoCliente.email}}
        </ion-col>
      </ion-row>
    </ion-grid>
    <ion-list>
      <ion-item-divider text-center class="titulo">
        Detalle del Cliente
      </ion-item-divider>
      <ion-item>
        <ion-label text-wrap stacked>Tipo de documento</ion-label>
        <ion-icon item-start name="paper" color="primary"></ion-icon>
        <ion-input required disabled="true" type="text"[(ngModel)]="infoCliente.doc_type"  placeholder="infoCliente.doc_type"></ion-input>
      </ion-item>
      <ion-item>
          <ion-label text-wrap stacked>N° documento</ion-label>
          <ion-icon item-start name="document" color="primary"></ion-icon>
          <ion-input required disabled="true"  type="text" [(ngModel)]="infoCliente.doc_number" placeholder="infoCliente.doc_number"></ion-input>
        </ion-item>
        <ion-item>
            <ion-label text-wrap stacked>Ciudad</ion-label>
            <ion-icon item-start name="map" color="primary"></ion-icon>
            <ion-input required disabled="true" type="text" [(ngModel)]="infoCliente.city.name" placeholder="infoCliente.city.name"></ion-input>
          </ion-item>
    </ion-list>
  </ion-card>
</ion-content>