page-cliente {
  .titulo {
    color:black;
    font-weight:bold;
    font-size: large;
  }
  .subtitulo {
    color:black;
    font-weight:bold
  }
  .background{
    background-color: cornflowerblue;
  }
  .logo-form {
    width: 60%;
    margin: auto;
  }
  ion-grid {
    border-style: solid;
  }
  ion-col {
    font-weight:bold;
    font-size: large;
    white-space: nowrap;
    overflow: auto;
    text-overflow: ellipsis;
  }
  .fila-titulo {
    background-color: rgb(54, 105, 4);
    color: white
  }
  .fila-descripcion {
    background-color: rgb(236, 229, 119);
    color: black
  }
}
