page-agregar-cliente {
  .titulo {
    color:black;
    font-weight:bold;
    font-size: x-large;
  }
  .subtitulo {
    color:black;
    font-weight:bold
  }
  .background{
    background-color: cornflowerblue;
  }
  .logo-form {
    width: 60%;
    margin: auto;
  }
}
