<ion-header no-shadow>
  <ion-navbar color="primary">
    <ion-title>
      Fitpal Tech Test
    </ion-title>
    <ion-buttons end>
      <button ion-button (click)="irListaCliente()">
        <ion-icon name="contact"></ion-icon>
        Ver Clientes
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>
<ion-content class="background" padding>
  <ion-card class="center-content" padding>
    <div class="container" padding>
      <p text-center padding class="titulo">Registro Clientes</p>
      <img src="assets/imgs/logo.png" class="logo-form">
      <h3 text-center padding class="subtitulo">Por favor llene todos los campos solicitados</h3>
      <form class="form" (ngSubmit)="crearUsuario()" [formGroup]="myForm">
        <ion-list>
          <ion-item>
            <ion-label text-wrap stacked>Nombres</ion-label>
            <ion-icon item-start name="contact" color="primary"></ion-icon>
            <ion-input required formControlName="name" name="name" type="text" placeholder="Nombre"></ion-input>
          </ion-item>
          <ion-item *ngIf="!myForm.controls.name.valid  && (myForm.controls.name.dirty || submitAttempt)">
            <p text-wrap>Por favor ingrese un nombre para continuar.</p>
          </ion-item>
          <ion-item>
            <ion-label text-wrap stacked>Apellidos</ion-label>
            <ion-icon item-start name="contact" color="primary"></ion-icon>
            <ion-input required formControlName="last_name" name="last_name" type="text" placeholder="Apellido"></ion-input>
          </ion-item>
          <ion-item *ngIf="!myForm.controls.last_name.valid  && (myForm.controls.last_name.dirty || submitAttempt)">
            <p text-wrap>Por favor ingrese su apellido para continuar.</p>
          </ion-item>
          <ion-item>
            <ion-label text-wrap stacked>Tipo documento</ion-label>
            <ion-icon item-start name="document" color="primary"></ion-icon>
            <ion-select formControlName="doc_type" required>
              <ion-option value="CC">CC</ion-option>
              <ion-option value="CE">CE</ion-option>
              <ion-option value="TI">TI</ion-option>
              <ion-option value="PA">PA</ion-option>
            </ion-select>
          </ion-item>
          <ion-item *ngIf="!myForm.controls.doc_type.valid  && (myForm.controls.doc_type.dirty || submitAttempt)">
            <p text-wrap>Por favor seleccione su tipo de documento para continuar.</p>
          </ion-item>
          <ion-item>
            <ion-label text-wrap stacked>Correo electronico</ion-label>
            <ion-icon item-start name="at" color="primary"></ion-icon>
            <ion-input required formControlName="email" name="email" type="text" placeholder="Email"></ion-input>
          </ion-item>
          <ion-item *ngIf="!myForm.controls.email.valid  && (myForm.controls.email.dirty || submitAttempt)">
            <p text-wrap>Por favor ingrese un email correcto para continuar.</p>
          </ion-item>
          <ion-item>
            <ion-label stacked text-wrap>Número de documento</ion-label>
            <ion-icon item-start name="contact" color="primary"></ion-icon>
            <ion-input required formControlName="doc_number" name="doc_number" type="number" placeholder="Numero de documento"></ion-input>
          </ion-item>
          <ion-item *ngIf="!myForm.controls.doc_number.valid  && (myForm.controls.doc_number.dirty || submitAttempt)">
            <p text-wrap>Por favor ingrese un numero de documento para continuar.</p>
          </ion-item>
          <ion-item>
            <ion-label text-wrap stacked>Departamento</ion-label>
            <ion-icon item-start name="navigate" color="primary"></ion-icon>
            <ion-select formControlName="department_id" required cancelText="cancelar" okText="ok" (ionChange)="cargarCiudadesXDepartamento(this.myForm.value.department_id)">
              <ion-option *ngFor="let depa of listaDepartamentos" [value]="depa.id">{{depa.name}}</ion-option>
            </ion-select>
          </ion-item>
          <ion-item *ngIf="!myForm.controls.doc_type.valid  && (myForm.controls.doc_type.dirty || submitAttempt)">
            <p text-wrap>Por favor seleccione su tipo de documento para continuar.</p>
          </ion-item>
          <ion-item>
            <ion-label text-wrap stacked>Ciudad</ion-label>
            <ion-icon item-start name="map" color="primary"></ion-icon>
            <ion-select formControlName="city_id" required cancelText="cancelar" disabled="{{existeDepartamento}}" okText="ok">
              <ion-option *ngFor="let ciudades of listaCiudades" [value]="ciudades.id">{{ciudades.name}}</ion-option>
            </ion-select>
          </ion-item>
          <ion-item *ngIf="!myForm.controls.doc_type.valid  && (myForm.controls.doc_type.dirty || submitAttempt)">
            <p text-wrap>Por favor seleccione su tipo de documento para continuar.</p>
          </ion-item>
        </ion-list>
        <div class="spacer" style="width: 300px; height: 20px;"></div>
        <ion-grid>
          <ion-row>
            <ion-col>
              <button ion- text-wrap ion-button block type="submit" [disabled]="!myForm.valid" color="secondary">
                <ion-icon ios="ios-log-in" md="md-log-in"> Crear Usuario</ion-icon>
              </button>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <button text-wrap ion-button block type="button" color="primary" (click)="irListaCliente()">
                Ver Usuarios
              </button>
            </ion-col>
          </ion-row>
        </ion-grid>
      </form>
    </div>
  </ion-card>
</ion-content>